.upc-state-connected {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #10dc60;
    color: white;
}

.upc-state-disconnected {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f04141;
    color: white;
}